:root {
    --main: white;
    --second: darkorchid;
}

body {
    margin-top: 100px;
    background-color: var(--second);
}

.main {
    width: 380px;
}

.abas {
    background-color: var(--second);
}

.aba {
    padding: 15px 0px;
    background-color: transparent;
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: var(--main);
    font-size: 16px;
    font-weight: 700;
    margin: auto;
}

.aba-selected {
    background-color: var(--main);
    color: var(--second);
}

#forms {
    padding: 20px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    background-color: var(--main);
}

#initialDiv { justify-content: space-between; }
#initialGroup { width: 80%; }
#initialSwitch { font-size: 20px; }

hr {
    color: var(--second);
}

.textResult {
    color: var(--second);
    font-size: 20px;
    font-weight: 700;
}

#calcBtn {
    color: var(--main);
    background-color: var(--second);
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: 600;
}